html {
    background-image: linear-gradient(to right, blue , lightblue);
}

body {
  margin: 0;
}

h1 {
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 3em;
  }

#input-box{
  margin-bottom: 10px;
}

#input-box input{
  border-radius: 20px;
  font-size: large;
}

#input-box button{
  border-radius: 20px;
  cursor: pointer;
  font-size: large;
}

.delete-button{
  border-radius: 20px;
  cursor: pointer;
  float: right;
  border-color: red;
  color: red;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: larger;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 1px;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
background: #888;
color: #fff;
text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  margin-right: 20px;
}