<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>To Do List</title>
        <link href="/styles/style.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <!-- Header -->
        <div class="header">
            <h1 id="title">TO DO LIST</h1>
            <p>By: Daniel</p>
        </div>

        <!-- Search Bar and Buttons-->
        <div class="bar">
            <input type="text" placeholder="Write your task..." name="task">
            <button type="button"class="btn btn-secondary" id="addButton">Add</button>
            <button type="button" class="btn btn-secondary" id="searchButton">Search</button>
            <button type="button" class="btn btn-secondary" id="backButton">Back</button>
        </div>
        
        <!-- List -->
        <ul class="list-group">
        </ul>

    <script src="/scripts/main.js"></script>
    </body>
</html>